@import '@/styles/colors.scss';

.layout {
  color: $white;
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}

.main {
  color: black;
  padding: 12px;
  height: 100%;
}