@import '@/styles/colors.scss';

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1.2fr;
  background-color: $black;
  padding: 10px 30px;
  height: 70px;
  border-bottom: 2px solid $black3;
  position: relative;
}

.logo {
  margin: auto 0;
  font-size: 28px;
  display: flex;
  align-items: center;
}