$black: #161d25;
$black2: #20202b;
$black3: #474b55;
$black4: #3b404a;

$grey: #f2f2f5;
$grey2: #6f7581;
$grey3: #cfcfcf;
$grey4: #ededf6;

$white: white;
$white2: #fcfcfc;

$blue: #2d3c4c;
$blue2: #548ccb;
$blue3: #1f7f91;

$orange: #ff9900;
$orange2: #faaf00;

$yellow: #ffca0d;

$purple: #ccccdf;